@import "variables";

.container {
  max-width: 94%;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  text-transform: capitalize;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
button {
  font-size: 1.7rem;
  padding: 1.4rem 2.8rem;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $prim-dark;
  }
  &:active {
    background-color: $prim-dark;
    outline: none;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
